<ng-container *ngIf="weatherData$ | async as weatherData">
  <ion-card *ngIf="weatherData?.data; else spinner">
    <ion-card-content>
      <ion-title> <ion-icon name="location"></ion-icon>Bucharest </ion-title>
      <ion-chip>{{ weatherData?.data?.values?.temperature }}°C</ion-chip>
      <h6>Feels like {{ weatherData?.data?.values?.temperatureApparent }}°C</h6>
    </ion-card-content>
  </ion-card>
</ng-container>
<ng-template #spinner>
  <div class="spinner">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
