<form [formGroup]="foodForm">
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start">Log your food</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancel()" color="secondary">
          <ion-icon size="large" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-input
        formControlName="name"
        type="text"
        placeholder="Food name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="calories"
        type="text"
        placeholder="Total calories"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="protein"
        type="text"
        placeholder="Protein"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="fats"
        type="text"
        placeholder="Fats"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="carbs"
        type="text"
        placeholder="Carbs"
      ></ion-input>
    </ion-item>
  </ion-content>
  <ion-footer>
    <ion-buttons>
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button
        color="medium"
        [disabled]="foodForm.invalid"
        (click)="save()"
        [strong]="true"
        >Save</ion-button
      >
    </ion-buttons>
  </ion-footer>
</form>
