<ion-toolbar>
  <ion-title slot="start">Welcome Back</ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="notifications-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<div class="upper-cards">
  <ion-card *ngFor="let data of goalTrackerData">
    <ion-icon name="{{ data.icon }}" class="{{ data.icon }}"></ion-icon>
    <div class="goal-tracker-data">
      <h4>{{ data.value }}</h4>
      <h5>{{ data.title }}</h5>
    </div>
  </ion-card>
</div>
<div class="lower-cards">
  <app-logged-food></app-logged-food>
</div>
