:host{
    background-color: #EEF1FF;
    overflow: scroll;
}
ion-toolbar{
    --background: #EEF1FF;
    ion-title{
        font-weight: bold;
        font-size: 28px;
    }
    ion-searchbar{
        width: max-content;
        --border-radius: 10px;
    }
    ion-buttons{
        ion-button{
            ion-icon{
                font-size: 28px;
            }
        }
    }
}

.upper-cards{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    ion-card{
        padding: 5px;
        width: 90%;
        height: 100%;
        border-radius: 15px;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 10px -3px rgba(3,3,3,1);
        ion-icon{
            height: 100%;
            width: 48px;
            &.footsteps{
                background-color: #F1FAED;
            color:#77D04D;
            }
            &.flame{
                background-color: #FFF4E9;
            color:#FE8D25;
            }
            &.pin{
                background-color: #FBE9FF;
            color:#D019FE;
            }
        }
        .goal-tracker-data{
            width: 70%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding-left:10px;
            justify-content: center;
            h4,h5{
                margin:0;
            }
            h4{
                font-weight: bold;

            }
        }
    }
}

.lower-cards{
    display: flex;
    margin: 5px 0;
    padding: 10px;
}